  :root{
    --white: #F6F7E4;
    --order-btn: #ffffff;
    --light-grey: #DFE4DE;
    --menu-color: #715D00;
    --h1-color: #F9E994;
    --manufacturer-item: #F6E791;
    --manufacturer-bg-text: #A1D33766;
    --line-price: #F6BE91;
    --green: #537D13;
    --order-bg-color: #A1D337;
    --light-blue: #7FB3E1;
    --grey: #6B6B6B;
    --text-color: #483C08;
    --form-bg: #FDFCFC;
    --placeholder: #777777;
    --data-color: #444444;
    --input-color: #F3EFEF;
    --scroll-bg-btn: #ffffff42;
    --bg-blue-gradient: linear-gradient(180deg,
        #e1edf8 0%,
        rgba(127, 179, 225, 0) 59.38%,
        rgba(0, 0, 0, 0.25) 100%);
    --bg-grey-gradient: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    --bg-green-gradient: linear-gradient(180deg, #F9E994 0%, #537D13 56%, #483C08 100%);
  }
  /* Reset styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
      margin: 0;
  }
  p:last-child {
      margin-bottom: 0;
  }
  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  a {
      color: currentColor;
      text-decoration: none;
  }
  button {
      cursor: pointer;
  }
  img {
      display: block;
      max-width: 100%;
      height: auto;
  }
  .no-scroll {
      overflow: hidden;
  }
  .is-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
  }
  body {
      font-family: "Roboto", sans-serif;
      color: var(--text-color);
  }
.container {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
/* ------------------------------------header--------------------------------------*/
.header {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding-top: 10px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo-link {
    background-image: url(../images/icons/cloud.svg);
    padding: 5px 8px 5px 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-logo-img {
    width: 160px;
}
.header-nav {
    display: none;
}
/* ---------------------------------mob-menu-modal------------------------------ */
.menu-open {
    display: block;
    border: none;
    background-color: transparent;
}
.menu-icon {
    fill: var(--menu-color);
    width: 36px;
    height: 26px;
}
.menu-icon:active {
    fill: var(--h1-color);
}
.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    padding: 24px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--bg-grey-gradient), url(../images/background-img.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.menu-close-btn {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close {
    width: 36px;
    height: 26px;
    stroke: var(--menu-color);
}
.menu-close:active {
    stroke: var(--h1-color);
}
.header-nav-list-mob {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.header-nav-item-mob {
    background-image: url(../images/icons/cloud-2.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 40px;
    padding: 35px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav-link-mob {
    color: var(--menu-color);
    font-size: 16px;
    line-height: 1.1;
}
.header-nav-link-mob:active {
    color: var(--h1-color);
    font-weight: bold;
    text-decoration: underline;
}
/* --------------------------------hero section---------------------------------------------- */
.hero {
    padding-top: 86px;
    padding-bottom: 100px;
    background-image:var(--bg-grey-gradient), url(../images/background-img.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.hero-title {
    font-size: 24px;
    color: var(--h1-color);
    text-align: center;
}
.hero-info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.hero-text-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}
.hero-subtitle {
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
}
.hero-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--light-blue);
    padding: 35px 35px 38px 35px;
    border-radius: 20px;
}
.hero-item {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.1;
    text-align: left;
    color: var(--light-grey);
    margin-bottom: 20px;
    position: relative;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-item:nth-last-child(2){
    margin-bottom: 17px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-wrap: nowrap;
}
.hero-item:last-child {
    margin-bottom: 0;
}
.hero-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: auto;
    background-image: url(../images/paw.webp);
    background-size: cover;
    width: 18.1px;
    height: 24px;
}
.hero-cat-photo {
    width: 290px;
}
.order-form {
    width: 270px;
    display: flex;
    flex-direction: column;
    background-color: var(--form-bg);
    border-radius: 20px 20px 10px 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    overflow: hidden;
}
.upper-part-form {
    background-image: url(../images/icons/rectangle.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 190px;
    padding: 23px 24px 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 21px;
}
.timer-title {
    font-size: 33px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 8px;
}
.timer {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.1;
    color: var(--h1-color);
    margin-bottom: 3px;
}
.price {
    display: flex;
    gap: 16px;
    align-items: center;
}
.old-price {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
    color: var(--grey);
    position: relative;
}
.old-price::before, .old-price::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 105%;
    height: 2px;
    background-color: var(--line-price); 
    transform: rotate(342deg);
    transform-origin: center;
}
.new-price {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.1;
}
.bottom-part-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.form-input {
    width: 222px;
    height: 50px;
    background-color: var(--input-color);
    background-image: url(../images/paw-gray.webp);
    background-repeat: no-repeat;
    background-position: 17px 13px;
    border: none;
    border-radius: 30px;
    padding: 16px 0 15px 55px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.1;
    color: var(--text-color);
}
.form-input::placeholder {
    color: var(--placeholder);
}
.form-btn {
    width: 222px;
    font-size: 30px;
    font-weight: bold;
    color: var(--order-btn);
    border: none;
    border-radius: 30px;
    background-color: var(--order-bg-color);
    padding: 7px 63px 8px;
}
.data-title {
    font-size: 18px;
    line-height: 1.1;
    text-align: center;
    padding: 30px 0 20px;
    color: var(--data-color);
    text-shadow: 0px 4px 4px #00000040;
}
.form-data {
    font-size: 18px;
    line-height: 1.1;
    text-align: center;
    color: var(--data-color);
    text-shadow: 0px 4px 4px #00000040;
}
/* ---------------------------manufacturer section---------------------------- */
.manufacturer {
    background-image: url(../images/paws.webp);
    background-color: #ffffff;
    background-size: contain;
    padding: 60px 0 61px;
}
.manufacturer-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.manufacturer-title {
    font-size: 24px;
    line-height: 1.1;
    text-align: center;
    background: var(--bg-green-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.manufacturer-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.manufacturer-item {
    width: 305px;
    background-color: var(--manufacturer-item);
    box-shadow: 2px 4px 5px 0px #00000040;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0  15px 14px;
    border-radius: 20px;
}
.manufacturer-photo-two {
    padding-top: 25px;
}
.manufacturer-photo-three {
    padding-top: 14px;
}
.manufacturer-text-block {
    width: 275px;
    height: 218px;
    background-color: var(--manufacturer-bg-text);
    border-radius: 20px;
    padding: 21px 14px 23px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}
.manufacturer-subtitle {
    color: var(--order-btn);
    text-shadow: 0px 2px 2px #00000040;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    text-wrap: nowrap;
}
.manufacturer-descr {
    font-size: 18px;
    line-height: 1.1;
    text-align: center;
}

/* --------------------------------uses section-------------------------------- */
.uses {
    background: var(--bg-blue-gradient), url(../images/grass.webp);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 50px;
    padding-bottom: 70px;
}
.uses-title {
    font-size: 24px;
    line-height: 1.1;
    text-align: center;
    color: var(--green);
    margin-bottom: 25px;
}

.uses-info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.uses-text-block {
    background: url(../images/icons/rectagle-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px 40px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.uses-descr {
    font-size: 14px;
    line-height: 1.1;
    text-align: left;
}
.uses-photo{
    width: 70%;
}

/* -------------------------------scroll to top------------------------------------- */
.scroll-top-btn {
    position: fixed;
    z-index: 2;
    right: 10px;
    bottom: 50px;
    background-color: transparent;
    border: none;
    border-radius: 50px;
}

.scroll-top-icon {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: var(--scroll-bg-btn);
}

.show-btn {
    opacity: 1;
    transition: 1s;
}
.show-btn_hide {
    opacity: 0;
    transition: 1s;
}

.scroll-top-icon:hover,
.scroll-top-icon:focus {
    box-shadow: 2px 4px 5px 0px #00000040;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

/* ------------------------------------MEDIA---------------------------------- */
@media screen and (min-width: 320px) {
    .container {
        width: 320px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding: 0 30px;
    }
    .header-logo-img {
        width: 195px;
    }
    .header-nav {
        display: flex;
        background-image: url(../images/icons/cloud-2.svg);
        padding: 24px 30px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .header-nav-list {
        display: flex;
        gap: 24px;
    }
    .header-nav-link {
        color: var(--menu-color);
        font-size: 16px;
        font-weight: bold;
        text-decoration: underline;
    }
    .header-nav-link:hover, .header-nav-link:focus, .header-nav-link:active {
        color: var(--h1-color);
        
    }
    .menu-open {
        display: none;
    }
    .mob-menu {
        display: none;
    }
    .hero {
        padding-top: 105px;
    }
    .hero-title {
        font-size: 36px;
        width: 440px;
}
    .hero-text-container {
        gap: 25px;
    }
    .hero-subtitle {
        font-size: 22px;
    }
    .hero-list {
        width: 323px;
    }
    .hero-item {
        font-size: 18px;
    }
    .hero-cat-photo {
        width: 530px;
    }
    .manufacturer-title {
        font-size: 36px;
    }
    .manufacturer-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 45px;
    }
    .uses {
        background-size: contain;
    }
    .uses-info-block {
        flex-direction: row;
    }
    .uses-text-block {
        background: url(../images/icons/rectangle-2.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 490px;
        padding-right: 50px;
    }
    .uses-title {
        font-size: 36px;
    }
    .uses-photo {
        width: 25%;
    }
    .scroll-top-btn {
        right: 15px;
        bottom: 40px;
    }

    .scroll-top-icon {
        width: 55px;
        height: 55px;
    }
}

@media screen and (min-width: 1140px) {
    .container {
        width: 1140px;
        padding: 0 30px;
    }
    .header {
        padding-top: 23px;
    }
    .header-logo-link {
        width: 329px;
        height: 113px;
        padding: 12px 20px 26px;
    }
    .header-logo-img {
        width: 283px;
    }
    .header-nav {
    padding: 41px 54px 38px 77px;
}
    .header-nav-list {
        gap: 51px;
    }
    .header-nav-link {
        font-size: 20px;
    }
    .hero {
        padding-top: 156px;
    }
    .hero-container {
        padding: 0;
    }
    .hero-title {
        font-size: 52px;
        width: 578px;
        line-height: 1.1;
        display: flex;
        flex-direction: column;
        text-wrap: nowrap;
    }
    .hero-info-container {
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        width: 100%;
    }
    .hero-text-container {
        align-items: start;
        gap: 60px;
        height: 439px;
        justify-content: flex-end;
    }
    .hero-subtitle {
        text-align: left;
        font-size: 26px;
        width: 439px;
    }
    .hero-item {
        font-size: 22px;
    }
    .hero-cat-photo {
        width: 710px;
        z-index: 2;
        position: absolute;
        top: 57%;
        left: 52%;
        transform: translate(-50%, -50%);
    }
    .hero-text-container,
    .order-container {
        flex: 1;
    }
    .order-container {
        display: flex;
        justify-content: end;
    }

    .manufacturer{
        padding: 100px 0 101px;
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
    .manufacturer-container{
        gap: 60px;
    }
    .manufacturer-title {
        font-size: 52px;
    }
    .manufacturer-list {
        flex-wrap: nowrap;
        gap: 84px;
    }
    .uses {
        padding-top: 99px;
        padding-bottom: 197px;
    }
    .uses-info-block {
        justify-content: center;
        gap: 28px;
    }
    .uses-text-block {
        width: 760px;
        height: 354px;
        padding: 40px 98px 41px 40px;
        justify-content: space-between;
    }
    .uses-title {
        font-size: 52px;
    }
    .uses-descr {
        font-size: 18px;
        line-height: 1.2;
    }
    .uses-photo {
        width: 300px;
    }
    .scroll-top-btn {
        right: 40px;
        bottom: 40px;
    }

    .scroll-top-icon {
        width: 65px;
        height: 65px;
    }
}